@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Permanent+Marker&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Permanent+Marker&family=Press+Start+2P&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-size: 10vw;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header> h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family:Passion One;
    font-family: 4em;
}

header> p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font: bolder;
}

header a:hover, footer a:hover{
    text-decoration: none;
}

section{    
    padding-top:10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 2vw;
    font-family:Sriracha;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: black;
    color: white;
}

section.imagem> p{
    display: inline-block;
    background-color: rgba(63, 63, 63, 0.548);
    padding: 5px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
